/build/
/nbproject/private/
/dist/
/downloads/P2_MattLyons_1000_PackageTest2/nbproject/private/
/downloads/P2_MattLyons_999_PackageTest1/LotsOfPackages/nbproject/private/
/downloads/P4_BenRichards_Assignment6_Permutations(updated)/Permutations/nbproject/private/
/downloads/P4_RickyJacobson_Assign5_Permutations/Permutations/build/
/downloads/P4_RickyJacobson_Assign5_Permutations/Permutations/nbproject/private/
/downloads/P2_MattLyons_56_TestInput/LotsOfPackages/nbproject/private/
/downloads/P2_MattLyons_56_TestOutput/LotsOfPackages/nbproject/private/
/downloads/P4_RickyJacobson_Assign9_Geometry/Geometry/build/
/downloads/P4_RickyJacobson_Assign9_Geometry/Geometry/nbproject/private/
/downloads/P4_BenRichards_Assignment9_GeometryUpdate/Geometry/build/
/downloads/P4_BenRichards_Assignment9_GeometryUpdate/Geometry/nbproject/private/